/* Eliminar márgenes y bordes predeterminados del body */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #99a5b5; /* Gray-900 */
    overflow-x: hidden; /* Para evitar el desbordamiento horizontal */
  }
  
  /* Contenedor principal para centrar el formulario */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: auto; /* Permite el desplazamiento vertical */
  }
  
  /* Caja del formulario */
  .form-container {
    background-color: #2d3748; /* Gray-800 */
    padding: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 24rem; /* sm:w-96 */
    margin: 0 auto;
    text-align: center;
    /* Remover sticky y permitir que el formulario fluya normalmente */
    position: relative;
  }
  
  /* Título */
  .form-container h2 {
    color: #fff; /* Blanco */
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }
  
  /* Asegurarse de que los inputs estén alineados y centrados */
  .input-field {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.375rem;
    background-color: #4a5568; /* Gray-700 */
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #4a5568; /* Gray-700 */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
  }
  
  .input-field:focus {
    border-color: #48bb78; /* Green-500 */
    box-shadow: 0 0 0 2px rgba(72, 187, 120, 0.5);
    outline: none;
  }
  
  /* Botones centrados y alineados */
  .btn {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.375rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
  }
  
  /* Botón de registro */
  .btn-login {
    background-color: #38a169; /* Green-600 */
    color: white;
    border: none;
  }
  
  .btn-login:hover {
    background-color: #2f855a; /* Green-700 */
  }
  
  /* Botón de Google */
  .btn-google {
    background-color: #3182ce; /* Blue-600 */
    color: white;
    border: none;
  }
  
  .btn-google:hover {
    background-color: #2b6cb0; /* Blue-700 */
  }
  
  /* Switch de autenticación */
  .switch-auth {
    color: #63b3ed; /* Blue-400 */
    margin-top: 1.5rem;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    background: none; /* Eliminar cualquier fondo */
    border: none; /* Eliminar el borde */
  }
  
  .switch-auth:hover {
    color: #3182ce; /* Blue-600 */
    text-decoration: underline;
  }
  
  /* Mensaje de error */
  .error-message {
    color: #e53e3e; /* Red-500 */
    margin-top: 1rem;
  }

  /*User.from
